:root {
    --primary-color: rgba(241, 111, 79, 1);
    --secundary-color: rgba(15, 49, 65, 1);
    --description-color: rgba(120, 117, 110, 1);
    --font-color: #0000;
    --font-poppins: 'Poppins-SemiBold', sans-serif;
    --font-products: 'Raleway-VariableFont_wght', sans-serif;
    --font-inter: 'Inter-VariableFont', sans-serif;

}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Raleway-VariableFont_wght';
    src: url(Fonts/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-VariableFont';
    src: url(Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(Fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
}




@media(min-width:375px) {

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.2rem;
    }

    .header {
        background-color: rgba(255, 255, 255, 1);

    }

    .logo img {
        width: 7.5rem;
        height: 3.5rem;

    }

    .bar {
        width: 1.50rem;
        height: 2px;
        background-color: black;
        margin: 0.25rem;
        border-radius: 4px;
    }

    .header-inner {
        margin-right: 1.25rem;
        margin-left: 1.25rem;
    }

    .menu-navegacao {
        display: none;
    }

    .menu-sign {
        display: none;
    }


    .hero {
        display: flex;
        align-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-image: url('Images/background-image-hero.png');
        margin-top: 5.875rem;
        height: 23.313rem;
        object-fit: fill;
        background-repeat: no-repeat;
        background-size: cover;

    }


    .button-check {
        font-family: var(--font-inter);
        display: flex;
        gap: 1rem;
        justify-content: center;
        background-color: var(--primary-color);
        padding: 1rem;
        border-radius: 4px;


    }

    .arrow-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: rgba(196, 196, 196, 0.2);
        border-radius: 100%;
        color: rgb(255, 255, 255);
    }

    .explore {
        display: flex;
        justify-content: center;
        font-size: 0.875rem;
        font-family: var(--font-inter);
        font-weight: 300;
        color: rgba(15, 49, 65, 1);
    }


    .hero-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .main-text {
        display: flex;
        font-family: var(--font-poppins);
        font-size: 2.75rem;

    }

    .btn {
        background-color: var(--primary-color);
        border: none;
        color: white;
        font-size: 18px;
    }

    .hero-content {
        display: flex;
    }

    .services {
        background-color: rgba(250, 248, 244, 1);
        padding: 1rem;
    }


    .titles-sections {
        font-family: var(--font-poppins);
        display: flex;
        font-size: 2.1rem;
        justify-content: center;
        padding-bottom: 3.313rem;
        padding-top: 5.563rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container {
        margin: 1.5rem;
    }

    .card h3 {
        font-family: var(--font-poppins);
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card p,
    a {
        font-family: var(--font-inter);
    }

    .card p {
        margin-bottom: 1.5rem;
    }

    .card img {
        max-width: 3rem;
        margin-bottom: 0.75rem;
    }

    .text-card {
        color: gray;
        font-weight: 300;
    }

    .card a,
    .arrow-see-more {
        text-decoration: none;
        color: var(--primary-color);
    }

    .card {
        margin-bottom: 3.75rem;
    }

    .products .titles-sections {
        margin-top: 80px;
        padding: 0;
        margin-bottom: 0;
    }

    .title-arrows {
        display: flex;
        align-items: end;
    }

    .arrows-span {
        display: flex;
        color: rgba(40, 111, 108, 1);
        font-size: 2rem;
    }

    .arrow-weak {
        color: rgba(15, 49, 65, 0.552);
    }

    .cards-producst {
        margin-top: 3.063rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .product {
        font-family: var(--font-products);
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        width: 90%;

    }


    .price {
        color: var(--primary-color);
    }

    .product h4 {
        color: gray;
        font-weight: 300;
    }

    .product p {
        font-weight: bold;

    }

    .product .size {
        font-size: 0.75rem;
        font-weight: 300;
    }

    .img-product {
        border-radius: 8px;

    }

    .chair {
        background-color: rgba(248, 244, 242, 1);
    }

    .cabinet {
        background-color: rgba(227, 231, 232, 1);
    }

    .plant {
        background-color: rgba(226, 235, 224, 1);
    }

    .light {
        background-color: rgba(232, 232, 227, 1);
    }

    .table {
        background-color: rgba(245, 231, 214, 1);
    }

    .rac {
        background-color: rgba(235, 229, 224, 1);

    }

    .product-text {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
    }

    .cards-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .cards-projects img {
        max-width: 160px;
        height: 208px;
    }

    .latest-project {
        background-color: var(--secundary-color);
        padding-bottom: 1.938rem;
    }


    .latest-project .titles-sections {
        justify-content: flex-start;
        max-width: 70%;
        color: white;
        padding-top: 2.813rem;
    }

    .card-project p,
    h3 {
        color: white;
        font-family: var(--font-poppins);
    }

    .card-project p {
        color: rgb(161, 161, 161);
        font-family: var(--font-products);
        font-size: 12px;
    }


    .card-project h3 {
        font-size: 1rem;

    }

    .text-projects {
        display: flex;
        gap: 2px;
        flex-direction: column;
    }


    .card-project {
        margin-bottom: 1.188rem;

    }

    .new-product {
        background-image: url(/Images/newcomer-product-mobile.png);
        height: 51.188rem;
        font-family: var(--font-poppins);
    }


    .description-new-product {
        font-family: var(--font-inter);
        color: gray;
        font-weight: 300;
        margin-bottom: 1.813rem;
    }

    .new-product .titles-sections {
        font-size: 1.25rem;
        color: var(--primary-color);
        padding: 10px;
        justify-content: flex-start;
    }

    .subtitle-new-product {
        font-size: 2.5rem;
        margin-bottom: 0.563rem;

    }

    .avaliable-colors {
        font-family: var(--font-products);
        font-weight: 600;
        margin-bottom: 1.125rem;
    }

    .buttons-colors {
        display: flex;
        gap: 0.625rem;
        margin-bottom: 3.313rem;
    }

    .buttons-colors span {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 50%;

    }

    .green-btn {
        background-color: rgba(53, 86, 85, 1);
        color: white;
    }

    .orange-btn {
        background-color: var(--primary-color);
        color: var(--primary-color);

    }

    .brown-btn {
        background-color: rgba(202, 129, 82, 1);
        color: rgba(202, 129, 82, 1);

    }

    .beige-btn {
        background-color: rgba(235, 197, 173, 1);
        color: rgba(235, 197, 173, 1);

    }

    .black-btn {
        background-color: rgba(41, 41, 40, 1);
        color: rgba(41, 41, 40, 1);

    }

    .shop-now-btn {
        max-width: 50%;
        display: flex;
        background-color: var(--primary-color);
        justify-content: space-evenly;
        font-size: 1.125rem;
        background: var(--primary-color);
        color: #fff;
        border-radius: 5px;
        font-family: var(--font-inter);
        border: none;
        gap: 4px;
    }

    .shop-now-btn button {
        color: white;
        border: none;
        font-weight: 700;
        background-color: var(--primary-color);
    }

    .shop-now-btn span {
        border-radius: 100%;
        border: 6px solid transparent;
        background-color: rgba(196, 196, 196, 0.2)
    }

    .text-arrows {
        display: flex;
        align-items: flex-end;
        gap: 1.50rem;
        justify-content: space-between;


    }

    .testimonials {}


    .testimonials .titles-sections {
        padding-bottom: 0px;
        padding-top: 0px;
        max-width: 60%;
        gap: 50%;
    }


    .witness {
        display: flex;
        flex-direction: column;
        margin-top: 3.063rem;
        align-items: center;
    }

    .img-witness {
        max-width: 60%;
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
    }

    .orange-double-quotes p {
        color: var(--primary-color);
    }
aafas
    .images-witness {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .witness h3 {
        color: black;
        font-size: 1.25rem;
    }


    .text-witness {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
}



@media(min-width:1440px) {}